body {
	background-color: #FFFFFF;
	color: #161616;
	font-family: 'Work Sans', sans-serif;
}

body.lock {
	overflow: hidden;
}

.mainContent {
	padding: 60px 32px 32px 32px;
}

.navLink{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	transition: .25s ease;
}

.navLink:hover {
	color: #000000;
	opacity: 0.5;
}

.navMargin {
	margin-left: 16px;
}

.logoName {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	text-decoration: none;
}

.leftNavArea {
	display: block;
}

.rightNavArea {
	display: block;
	padding: 0px;
}

.contactMediaLogo {
	opacity: 1.0;
	width: 20px;
	height: 20px;
	transition: .25s ease;
}

.contactMediaLogo:hover {
	opacity: 0.5;
}

.hamburgerMenu {
	display: none;
}

#overlayContainer {
	display: none;
	position: fixed;
	top: 60;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	color: black;
	z-index: 999;
}

#overlayContainer.show {
	display: block;
}

.overlayContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
}

.overlayLink {
	color: #000000;
	font-size: 20px;
	padding: 32px;
	text-align: center;
	text-decoration: none;
	transition: .25s ease;
}

.overlayLink:hover {
	color: #000000;
	opacity: 0.5;
}

.overlayContact {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #CCC;
	margin-top: 32px;
	padding: 32px;
	width: 280px;

}

.credits {
	color: grey;
	font-size: 12px;
	font-weight: 300;
}

.introText {
	font-family: 'Noto Serif', serif;
	font-size: 24px;
	line-height: 1.6;
	padding: 128px 0px 192px 0px;
}

.sectionHeader {
	font-weight: 600;
	font-size: 24px;
	color: #333333;
}

.sectionSubHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 8px;
	font-weight: 400;
	font-size: 14px;
	color: #CCCCCC;
}

.viewStudy {
	display: flex;
	align-items: center;
	color: #17B5FE;
	opacity: 1;
	cursor: pointer;
	transition: .25s ease;
}

.thumbnail {
	width: 100%;
}

.overlay {
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #FFFFFF;
	cursor: pointer;
	transition: .32s ease;
}

a:hover .overlay {
	opacity: 0.5;
}

.scrollTop {
	opacity: 1.0;
	cursor: pointer;
	transition: .5s ease;
}

.scrollTop:hover {
	opacity: .5;
}

.resume:hover {
	opacity: .8;
	color: #95a5a6;
}

/* <= Small Resolution Components*/
.topNavigation {
	padding: 15px 32px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0,0,0, .05);
}

.navActions {
	font-size: 14px;
	color: #000000;
	margin-left: 8px;
}

/*Responsive Classes*/
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

 }
/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	#letsChat {
	background-color: #000000
	}

	.sectionHeader {
		font-size: 22px;
	}

	.scrollTop {
		width: 50px;
	}

	.leftNavArea {
		display: none;
	}

	.rightNavArea {
		display: none;
	}

	.hamburgerMenu {
		display: block;
	}

	.introText {
		font-size: 22px;
	}
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

 }

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

 }

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint has no upper bound on its width*/
