html, body {
	font-family: 'Work Sans', sans-serif;
	color: #161616;
	background-color: #FFFFFF;
}

/*TOP NAVIGATION*/
body.lock {
	overflow: hidden;
}

.mainContent {
	padding: 60px 32px 32px 32px;
}

.navLink{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	transition: .25s ease;
}

.navLink:hover {
	color: #000000;
	opacity: 0.5;
}

.navMargin {
	margin-left: 16px;
}

.logoName {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	text-decoration: none;
}

.leftNavArea {
	display: block;
}

.rightNavArea {
	display: block;
	padding: 0px;
}

.contactMediaLogo {
	opacity: 1.0;
	width: 20px;
	height: 20px;
	transition: .25s ease;
}

.contactMediaLogo:hover {
	opacity: 0.5;
}

.hamburgerMenu {
	display: none;
}

#overlayContainer {
	display: none;
	position: fixed;
	top: 60;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	color: black;
	z-index: 999;
}

#overlayContainer.show {
	display: block;
}

.overlayContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
}

.overlayLink {
	color: #000000;
	font-size: 20px;
	padding: 32px;
	text-align: center;
	text=decoration: none;
	transition: .25s ease;
}

.overlayLink:hover {
	color: #000000;
	opacity: 0.5;
}

.overlayContact {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #CCC;
	margin-top: 32px;
	padding: 32px;
	width: 280px;

}

.topNavigation {
	padding: 15px 32px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0,0,0, .05);
}

.navActions {
	font-size: 14px;
	color: #000000;
	margin-left: 8px;
}

/*MAIN CONTENT*/
h3 {
	margin: 16px 0px;
}

.banner {
	position: absolute;
	top: 58px;
	left: 0px;
}

.main {
	position: absolute;
	top: 70%;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.95);
}

.row {
	padding: 80px 0px;
	margin: 0 auto;
}

.alternateRow {
	background-color: #F4F5F7;
}

.projectTitle {
	font-weight: 700;
	font-size: 48px;
}

.supportTitle {
	font-weight: 700;
	font-size: 24px;
	color: #bdc3c7;
}

.statsRow {
	padding: 0px;
}

.eyebrow {
	margin-top: 20px;
	font-weight: 700;
	color: #bdc3c7;
	font-size: 14px;
	margin-bottom: 8px;
}

.btn-Github {
	opacity: 1;
	transition: .25s ease;
	background-color: #6e5494;
	color: #FFFFFF;
}

.btn-Github:hover {
	opacity: .8;
}

.btn-Dribbble {
	opacity: 1;
	transition: .25s ease;
	background-color: #EA4C89;
	color: #FFFFFF;
}

.btn-Dribbble:hover {
	color: #FFFFFF;
	opacity: .8;
}

.btn-Unalink {
	opacity: 1;
	transition: .25s ease;
	background-color: #DDDEDF;
	color: #333333;
}

.btn-Unalink:hover {
	color: #333333;
	opacity: .8;
}

.githubRepo {
	color: #FFFFFF;
}

a.githubRepo:hover {
	color: #FFFFFF;
}

/*CONTENT*/
.paragraphHeader {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.verticalSpacer {
	margin: 80px auto;
}

.videoSpacer {
	margin: 16px auto;
}

/*Case Study Headers*/
.barHeader {
	width: 9%;
	border: 2px solid #bdc3c7;
	margin: 0.5rem auto;
}

.objectiveHeader {
	border-color: #d91e18;
}

.userInterviewHeader {
	border-color: #ffcb05;
}

.researchAndIterationHeader {
	border-color: #65c6bb;
}

.conclusionHeader {
	border-color: #1f87e5;
}

.dribbbleHeader {
	border-color: #EA4C89;
}

.userNote {
	background-color: #ffff7e;
	padding: 32px;
	margin: 30px 0px;
	font-style: italic;
}

.userFeedback {
	background-color: #7befb2;
	padding: 32px;
	margin: 30px 0px;
	font-style: italic;
}

.userStartQuote {
	position: absolute;
	font-size: 60px;
	font-weight: 900;
	color: #f7ca18;
	top: -30px;
	left: 10px;
}

.userEndQuote {
	position: absolute;
	font-size: 60px;
	font-weight: 900;
	color: #f7ca18;
	right: 30px;
	transform: translateY(22px);
}

.userFeedbackColor {
	color: #1e824c;
}

.iterationBottomMargin {
	margin-bottom: 20px;
}

.objectiveText {
	font-size: 24px;
	font-style: italic;
}

p {
	font-size: 18px;
	font-weight: 400;
	margin: 16px 0px;
	line-height: 40px;
}

table {
	margin: 16px 0px;
}

.caption {
	margin: 0px 0px 24px 0px;
	color: #6c7a89;
	font-weight: 400;
	font-size: 20px;
}

.captionTabs {
	margin: 24px 0px 12px 0px ;
}

/*SCROLL TO TOP*/
.scrollTop {
	z-index: 999;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 1.0;
	cursor: pointer;
	transition: .5s ease;

}

.scrollTop:hover {
	opacity: .5;
}


/*FOOTER*/
footer {
	margin: 64px;
}

.credits {
	margin: 12px 0px;
	color: grey;
	font-size: 12px;
	font-weight: 300;
}

/*MISCELLANEOUS*/
ol.plotSituation {
	padding-inline-start: 16px;
}

li.situation {
	font-size: 18px;
	line-height: 32px;
}

li.situationMargin {
	margin: 12px 0px
}

/*RESPONSIVE CASES*/
/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
	...
}
/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.main {
		top: 35%;
	}
}
/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.topNavProjectCopy {
		font-size: 16px;
	}

	.banner {
		top: 78px;
	}

	.main {
		top: 25%;
	}

	.projectTitle {
		font-size: 36px;
	}

	.supportTitle {
		font-size: 20px;
	}

	.titleRow {
		padding: 40px 0px;
	}

	.row {
		padding: 40px 0px;
	}

	.statsRow {
		padding: 0px;
	}

	.stats-column-spacer {
		margin-top: 40px;
	}

	.smallMargin {
		margin-bottom: 40px;
	}

	/* Hamburger Header */
	.sectionHeader {
		font-size: 22px;
	}

	.scrollTop {
		width: 50px;
	}

	.leftNavArea {
		display: none;
	}

	.rightNavArea {
		display: none;
	}

	.hamburgerMenu {
		display: block;
	}
 }
 /*// Extra small devices (portrait phones, less than 576px)*/
 @media (max-width: 575.98px) {
 	.topNavProjectCopy {
 		font-size: 12px;
 	}
  }

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint has no upper bound on its width
