* {
	font-family: 'Khula', sans-serif;
}

/* Home Page */

.preqinBLue {
	color: #199CDB;
}

h1 a:visited {
	color: #199CDB;
}

.my_logo {
	width: 60px;
}

.main-banner {
	background-image: url("http://res.cloudinary.com/pra1se/image/upload/v1526387162/rsz_math-83287_sst2fu.jpg");
}

.neoThumbnail {
	background-size: 350px;
	background-image: url("http://res.cloudinary.com/pra1se/image/upload/v1526354959/preqinThumbnail_dvqhpa.png");
}

.abrThumbnail {
	background-size: 300px;
	background-color: rgba(0,0,0,.95);
	background-image: url("http://res.cloudinary.com/pra1se/image/upload/v1525185740/running_logo_m0spzu.png");
}

.abrLogo {
	background-size: 300px;
	background-color: rgba(0,0,0,.95);
}

.boostMySchoolThumbnail {
	background-color: #FBFCFC;
	background-size: 350px;
	background-image: url("http://res.cloudinary.com/pra1se/image/upload/v1528153501/Screen_Shot_2018-06-04_at_7.01.56_PM_km4jbc.png");
}

/* Preqin Pro Case Study */
.max-84 {
	max-width: 72rem;
}

.m-auto {
	margin: 0 auto;
}

.m-auto-img {
	margin: 5% auto;
}

.lh-double {
	line-height: 2;
}

.clear-left {
	clear: left;
}

.modal-bg {
	display: none;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, 0.9);
}

.modal-exit {
	position: fixed;
	right: 30px;
	top: 10px ;
}

.modal-open {
	overflow: hidden;
}

#select-img {
	pointer-events: none;
}

/*Hackathon*/
.striped-purple {
	background-color: rgba(117,113,171, .1);
}

.highlight-orange {
	color: #F5A623;
}


/*Next Project*/
.modify-bb:hover {
	border-color: black;
}

/*Profile Carousel*/
.carousel-cell {
 	display: inline-block;
	width: 40%; /* half-width */
	margin-right: 20px;
}